[submodule "Eclipse/vendor/glm"]
	path = Eclipse/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Eclipse/vendor/vma"]
	path = Eclipse/vendor/vma
	url = https://github.com/wiseConst/VulkanMemoryAllocator
[submodule "Eclipse/vendor/volk"]
	path = Eclipse/vendor/volk
	url = https://github.com/zeux/volk.git
[submodule "Eclipse/vendor/stb"]
	path = Eclipse/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "Eclipse/vendor/GLFW"]
	path = Eclipse/vendor/GLFW
	url = https://github.com/wiseConst/glfw.git
[submodule "Eclipse/vendor/imgui"]
	path = Eclipse/vendor/imgui
	url = https://github.com/wiseConst/imgui.git
